dialog.dialog {
  background: var(--color-gray-800);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 24px;
  corner-shape: squircle;
  /* padding: 24px; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  &:not([open]) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &[open] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &::backdrop {
    backdrop-filter: blur(5px);
    background: repeating-linear-gradient(
      -45deg,
      var(--color-yellow-500) 0px,
      var(--color-yellow-500) 5px,
      transparent 5px,
      transparent 15px
    );
  }
}
